@import "../../helpers/utils.scss";
@import "../../helpers/variables.scss";

.category-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  margin-bottom: 15px;
}

.book-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.title-content {
  color: #f1f1f1;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  word-break: normal;
  max-width: 200px;
}

.category-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px;
  background-color: #22223b;
  border-radius: 5px;
  color: #edf0f1;
  a {
    text-decoration: none;
    color: #edf0f1;
  }
}

.category-container {
  margin: 24px 0;
  box-shadow: 0px 17px 4px -10px rgba(0,0,0,0.4);
  border-radius: 5px;
}

.main-content {
  padding: 0 10px;
}

.book-cover {
  cursor: pointer;
  width: 200px;
  height: 300px;
  &:hover {
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}

.upload-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.cover-preview {
  width: 200px;
  height: 300px;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.file-upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  padding: 5px;
  background-color: $primary-color;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: #f1f1f1;
  background-color: $primary-color;
  font-weight: bold;
}

.file-upload-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  button {
    margin: 0 10px;
  }
}

.remove-cover-icon {
  font-size: 32px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding: 0;
  }
}
