@import "../../helpers/variables.scss";

.desktop-nav {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 1;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #f1f1f1;
  background-color: $primary-color;
  border-top: 1px solid rgba(143, 138, 138, 0.25);
}

nav a {
  color: #edf0f1;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;

  &:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
  }

  &:active {
    color: #0088a9;
  }
}

.mobile-nav a svg {
  font-size: 20px;
  margin-bottom: 2px;
}

.bottom-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
