@import "../../helpers/variables.scss";

nav {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  .links-container {
    padding: 10px;
  }
}

.link-style {
  margin: 0 10px 0 0;
}

.menu-icon {
  display: block;
}

nav a {
  color: #edf0f1;
  text-decoration: none;
  font-size: 17px;

  &:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
  }

  &:active {
    color: #0088a9;
  }
}

.vertical-bars {
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.horizontal-bars {
  transition: transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.expand-menu {
  max-height: 500px;
}

@media screen and (max-width: $tablet-breakpoint) {
  .links-container :not(:first-child) {
    display: none;
  }
  .link-style {
    margin: 0 0 10px 0;
  }
  .menu-icon {
    display: block;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
  }
}

.responsive-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  :not(:first-child):not(:last-child) {
    display: block;
  }
  :last-child {
    display: block;
  }
  :first-child {
    display: block;
  }
}
