@import "../../helpers/variables.scss";

.header-container {
  width: 100%;
  color: #f1f1f1;
  background-color: $primary-color;
  padding: 10px;
  height: 45px;
  z-index: 9;
  overflow: hidden;
  div {
    font-size: 18px;
  }
}

.extra-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-title {
  width: max-content;
  margin-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 0px;
  transition: max-height 0.5s ease;
  background-color: $primary-color;
}

.fixed-header-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
}

.filter-container-visible {
  visibility: visible;
  transition: max-height 0.5s ease;
  max-height: 999px;
}

@media screen and (max-width: 768px) {
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 1);
  }
  .filter-container {
    margin-top: -10px;
  }
}
