@import "../../helpers/variables.scss";

.category-books {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
}

.category-book-cover {
  width: 200px;
  height: 300px;
}

.category-book-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

.book-cover-container {
  width: 200px;
  height: 300px;
}

.category-book-author {
  margin-bottom: 5px;
  font-size: 14px;
  text-decoration: underline;
}

.category-book-description-collapsed {
  text-align: justify;
  margin-top: 10px;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.5s ease 0s;
  -webkit-transition: max-height 0.5s ease 0s;
  -moz-transition: max-height 0.5s ease 0s;
  -o-transition: max-height 0.5s ease 0s;
}

.read-more {
  height: 10px;
  width: 100%;
}

.category-book-description-uncollapsed {
  max-height: 9999px;
}

.category-select {
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    color: #fff;
  }
  select > option {
    font-size: 12px;
    background-color: rgba(172, 179, 228, 1);
    font-weight: bold;
    color: #eaeaea;
    &:hover {
      background-color: #4a4e69;
    }
  }
}

.category-select-label {
  color: #fff;
  margin-bottom: 10px;
  margin-right: 10px;
}

.category-book-item {
  display: flex;
  margin: 24px;
}

.category-book-creation-date {
  font-size: 14px;
}

.category-book-title {
  font-size: 18px;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.read-more-visible {
  text-decoration: underline;
  color: #0066c0;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-shadow: 0px -19px 38px -5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px -19px 38px -5px rgba(255, 255, 255, 1);
  box-shadow: 0px -19px 38px -5px rgba(255, 255, 255, 1);
}

.read-more-invisible {
  display: none;
}

@media screen and (max-width: 1280px) {
  .category-books {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
  }
  .category-book-item {
    width: 100%;
    max-width: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .category-book-details {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
